# Created by .ignore support plugin (hsz.mobi)
*.pyc
/Benchmark/.idea
/sharedData/data/
/sharedData/*.json
/results/
/Benchmark/documentdb/benchmark/selects_document_alls.json
/Benchmark/documentdb/.idea/
Benchmark/documentdb/results/
Benchmark/documentdb/sharedData/
